<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>

</head>
<body>
<div class="container-fluid">
    <br>
    <div class="text-center">
        <h1>CMS</h1>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center" >
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/home/1}" class="form-inline m-3">
            <input type="hidden" name="sortDir" th:value="${sortDir}" >
            Filter : &nbsp;

            <input type="search" placeholder="Date" name="keyword" th:value="${keyword}" class="form-control" required/>
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary" />
            &nbsp;&nbsp;
            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
        </form>

    </div>

    <div>
        <table class="table table-bordered table-hover table-striped table-responsive-xL">
            <thead class ="thead-dark">
            <tr>
                <th>
                    No
                </th>
                <th>
                    Table
                </th>
                <th>
                    Count
                </th>
                <th>
                    Details
                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="result, hh : ${listReports}">
                <td th:text="${hh.index+startCount}"></td>
<!--                <td>[[${result.id}]]</td>-->
                <td>result_[[${result.date}]]</td>
                <td>[[${result.count}]]</td>
                <td>
<!--                    <a th:href="@{/report/export/excel}">Export to Excel</a>-->
                    <a th:href="@{${'/detail/'+ result.date}}" >View Detail</a>
                </td>

            </tr>
            </tbody>

        </table>
    </div>

    <div class="row">
        <div class="col">
            <form class="form-inline" id="formPage" method="get" action="/home/">

                <input type="hidden" name="sortDir" id="sortDirInput" th:value="${sortDir}">
                <input type="hidden" name="keyword" id="keywordInput" th:value="${keyword}">

                Page  &nbsp;
                <input type="text" th:value="${currentPage}" size="10" style="width:30px; height:20px" id="pageVal">
                &nbsp;Of&nbsp;<span th:text="${totalPages}"></span> &nbsp;
                <input type="submit" value="Search" id="submitSearch"/>
            </form>

        </div>

        <div class="col">
            <div style="margin-left: -5rem;" th:if="${totalItems > 0}")>
                <span>Showing Report # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
            </div>
            <div style="margin-left: -5rem;" th:unless="${totalItems > 0} " >
                <span>No Report Found</span>
            </div>

            <div th:if="${totalPages > 1}")>
                <div th:replace="fragments :: pagination('/home/')"></div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
	$(document).ready(function() {

	});

	function clearFilter(){
		window.location="[[@{/}]]";
	}

    const button = document.getElementById("submitSearch");
    button.addEventListener("click", submitForm)

    function submitForm(e) {
      e.preventDefault();

        const form = document.getElementById('formPage');
        const pageVal = document.getElementById("pageVal").value;
        const totalPages = [[${totalPages}]];
        console.log(pageVal);


        if(pageVal > totalPages){
            alert('page does not exist');
        }else{
            form.action = form.action + pageVal;
            form.submit();
        }
    }
</script>
</body>

</html>